rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /games/{game_id} {
      allow read: if true;
      allow write: if request.auth.uid == game_id;
    }
  }
}